// colors
$color-green-blue: linear-gradient(25deg, #0ecb81, #070a8f);

$green: #0ecb81;
$opacity-green: #0ecb8320;

$bg-gray: rgba(255, 255, 255, 0.05);

$color-100: #d7d2dc;
$color-200: #c4bbf0;
$color-300: #927fbf;
$color-400: #4f3b78;
$color-500: #2f3344;
$color-600: #0d0618;

$color-border: #2f3344;
$color-info: #989bad;