.Loader {
	margin: 5rem auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 15px solid #0ecb81;
	border-top-color: transparent;
	animation: spin 1s linear infinite;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(180deg) scale(1.7);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}