@use "../../../styles/global" as *;

@mixin userSelectNone {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.hero__section {
  @include userSelectNone();
}

.hero__content {
  padding: 5rem 2rem 0 2rem;
  position: relative;

  &--title {
    position: relative;
    display: flex;
    justify-content: center;

    .animation__wrapper {
      display: flex;
      justify-content: center;
      font-size: 7rem;
      font-weight: bold;
      text-transform: uppercase;
      text-wrap: nowrap;

      @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        font-size: 6rem;
      }

      @media (max-width: 768px) {
        font-size: 5rem;
      }

      @media (max-width: 600px) {
        font-size: 4rem;
      }

      @media (max-width: 480px) {
        font-size: 3rem;
      }

      p {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: $color-green-blue;
      }

      // .animation {
      //   text-align: center;
      //   font-family: $small-font;
      //   height: 7rem;
      //   overflow: hidden;
      //   margin-left: 1rem;

      //   &>div>div {
      //     padding: 0.25rem 0.75rem;
      //     height: 100%;
      //     display: inline-block;
      //   }

      //   div:first-child {
      //     animation: text-animation 8s infinite
      //   }

      //   .first div {
      //     color: $color-100;
      //   }

      //   .second div {
      //     color: #070a8f;
      //   }

      //   .third div {
      //     color: $color-100;
      //   }

      //   @keyframes text-animation {
      //     0% {
      //       margin-top: 0;
      //     }

      //     10% {
      //       margin-top: 0;
      //     }

      //     20% {
      //       margin-top: -7.22rem;
      //     }

      //     30% {
      //       margin-top: -7.22rem;
      //     }

      //     40% {
      //       margin-top: -14.44rem;
      //     }

      //     60% {
      //       margin-top: -14.44rem;
      //     }

      //     70% {
      //       margin-top: -7.22rem;
      //     }

      //     80% {
      //       margin-top: -7.22rem;
      //     }

      //     90% {
      //       margin-top: 0;
      //     }

      //     100% {
      //       margin-top: 0;
      //     }
      //   }
      }
    }
  }

  &--extra__lists {
    max-width: 131rem;
    margin: 6rem auto 2rem auto;
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 1150px) {
      margin-top: 2rem;
      flex-direction: column;
    }
  }

  &--mobile__btn {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    width: 25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 4rem;
    background: $color-green-blue;
    color: $color-100;
    border-radius: 10rem;
    transition: all 0.2s;
    margin: 0 auto;
    margin-top: 3rem;

    @media (max-width: 600px) {
      display: flex;
      align-items: center;
    }
  }
}