@use "../global" as *;

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

#coin {
  padding: 5rem 0;
  color: $color-100;
  font-size: $text-normal;
}

#first, #second, #fourth, #fifth {
  padding: 1rem;
  background: $color-600;
  border: $border-gray;
  border-radius: $border-radius;
}

.coin__content {
  display: flex;
  column-gap: $gap;

  &--main__information {
    display: flex;
    flex-direction: column;
    row-gap: $gap;

    .main__information--top {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .top__title {
        @include flexRow();
        column-gap: 1rem;
        justify-content: space-between;

        #left {
          @include flexRow();
          align-items: center
        }

        #right {
          @include flexRow();
          align-items: center;
        }

        .top__title--img {
          img {
            background: $bg-gray;
            border: 2px solid $green;
            border-radius: 50%;
          }
        }

        .top__title--spans {
          @include flexRow();
          margin-left: .5rem;
          text-wrap: nowrap;
          border: $border-gray;
          border-radius: 5px;

          .top__title--span__name {
            margin: auto;
            padding: .5rem .1rem .5rem .5rem;
          }

          .top__title--span__symbol {
            color: $color-info;
            padding: .5rem 0;
          }

          .top__title--span__rank {
            margin-left: 2rem;
            padding: .5rem;
            background: $opacity-green;
          }
        }

        .top__title--date {
          margin-left: 27rem;
          text-wrap: nowrap;

          &__genesis {
            color: $color-info;
            padding: .5rem 0;
          }
        }
      }

      .top__price {
        @include flexRow();
        width: fit-content;
        padding: .5rem;
        text-wrap: nowrap;
        gap: .5rem;
      }

      .top__minmax {
        @include flexRow();
        align-items: center;
        width: fit-content;
        padding: .5rem;
        text-wrap: nowrap;
        gap: .5rem;
        background: #484c646d;
        border-radius: $border-radius;

        .progress-container {
          height: 1rem;
          min-width: 40rem;
          border-radius: 0.4rem;
          background: #000;

          .progress {
            height: 100%;
            border-radius: 0.4rem;
            background: $color-green-blue;
            transition: width 0.4s ease;
          }
        }

      }
    }

    .main__information--table {
      padding: .5rem 0;

      .table__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        &--item {
          padding: .5rem .5rem;
          text-wrap: nowrap;
          border-radius: 5px;

          p {
            margin-bottom: .5rem;
            color: $color-100;

            &:last-child {
              margin: 0;
              text-align: center;
              color: $color-100;
            }
          }

          div {
            color: $green;
          }
        }
      }
    }

    .main__information--description {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      h3 {
        font-size: $h3-size;
      }

      p {
        color: $color-info;
        text-align: justify;

        & a {
          color: $green;
          filter: opacity(.5);
          text-decoration: underline;
        }
      }
    }

    .main__information--trend {
      // * {
      //   outline: 1px solid red;
      // }

      .trend__table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        &--head {
          &__row {
            filter: opacity(.9);

            th {
              div {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                  padding: .5rem;
                  font-size: 2rem;
                  white-space: pre-wrap;
                }
              }
            }
          }
        }

        &--body {
          &__row {
            td {
              text-align: center;

              div {
                padding: .5rem;
                font-family: $small-font;
                font-size: $text-normal;
              }
            }
          }
        }
      }
    }
  }

  &--additional__information {
    display: flex;
    flex-direction: column;
    row-gap: $gap;

    .additional__information--table {
      width: 35rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
        text-align: center;
        margin-bottom: .5rem;
        text-wrap: nowrap;
        font-size: $h4-size;
      }

      .table__flex {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        &--item {
          margin: .5rem 0;
          display: flex;
          flex-direction: row;
          text-wrap: nowrap;
          border-radius: 5px;

          span {
            min-width: 10rem;
            text-align: center;
          }

          ul {
            display: flex;
            overflow-x: hidden;
            flex-wrap: wrap;
            width: fit-content;
            row-gap: .4rem;
            column-gap: .4rem;

            li {
              font-size: 1rem;
              padding: .4rem;
              border-radius: 5px;
              background: $color-500;
            }
          }
        }
      }
    }
  }
}